.sidebar {
    margin: 0;
    padding: 10px 0 0 0;
    width: 300px;
    background-color: #EEEEEE;
    position: fixed;
    height: 100%;
    overflow-x: hidden;
}

.sidebar a, .dropdown-btn {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.fa-caret-right, .fa-caret-down {
  float: right;
  padding-right: 8px;
}

.sidebar__title {
  font-weight: bold;
  padding: 20px 0 0 15px;
  display: block;
}

.sidebar__title > i {
  float: right;
  padding: 25px 20px 0 0;
  font-size: 15px;
  cursor: pointer;
}

.sidebar__title > i:hover {
  float: right;
  padding: 25px 20px 0 0;
  font-size: 17px;
  cursor: pointer;
  color:#616161;
}

.sidebar a.active {
    background-color: #04aa6d;
    color: white;
}

.sidebar a:hover:not(.active), 
.dropdown-btn:hover:not(.active),
.dropdown-container i:hover:not(.active) {
    background-color: #555;
    color: white;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  background-color: #EEEEEE;
  animation: growDown 600ms ease-in-out forwards;
  transform-origin: top center;
  transition: 0.5s;
}

.dropdown-container:target {
  display: flex;
  flex-direction: column;
  background-color: #EEEEEE;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.dropdown-container i {
  padding: 8px 8px 8px 20px;
  cursor: pointer;
}

#main {
  padding: 20px;
}

@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;} 
  }

  
  /* @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  } */






