:root {
    --primary: #0277BD;
    --secondary: #64B5F6;
    --dark: #212121;
    --light: #f3f3f3;
}

.main__content {
    margin-left: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.main__content-nav {
    z-index: 200;
    padding: 0.5% 16px 1% 16px;
    background-image: linear-gradient(to bottom left, #9E9E9E 10%, 
    #BDBDBD 60%);
    color: white;
    font-weight: bold;
    height: 70px;
    position: fixed;
    width: 100%;
    left:  300px;
    right: 0;
    margin: 0 auto;
}

.breadcrumb__wrapper {
    position: fixed;
    z-index: 200;
    width: 60%;
    text-align: center; 
    position: fixed; 
    left:  300px;
    right: 0;
    margin: 0 auto;
}

.breadcrumb__list {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.breadcrumb__list li {
    list-style: none;
    padding: 0 10px;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .main__content {
        margin-left: 0;
    }

    .main__content-nav {
        z-index: 200;
        padding: 0.5% 16px 1% 16px;
        background-color: #9E9E9E;
        color: white;
        font-weight: bold;
        height: 10%;
        position: fixed;
        width: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .breadcrumb__wrapper {
        position: fixed;
        z-index: 200;
        width: 60%;
        text-align: center; 
        position: fixed; 
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}
