.anki__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45%;
    position: relative;
}

.anki__cards-error {
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: fixed;
}